# -*- coding: utf-8 -*-

import os
import filters as _filters
import handlers
#import profiler

default = {'handler':handlers.PipeHandler, 'config':{}}

#filters = (profiler.requestcounter,)

_defaultconfig = [
        {'match':r'/sample_index_dir',
         'handler':handlers.LocalFileHandler,
         'config':{'root':os.path.normpath(os.path.join(__file__, '../'))}},
]

_http = _defaultconfig + [{'match':r'/'}]
_https = _defaultconfig + [{'match':r'/', 'config':{'ssl':True, 'port':443}}]

forwards = {
    'localfile':[{'match':r'/', 'handler':handlers.LocalFileHandler}],
    'ssl.example.jp':_https,
    'www.example.jp':_http
    }
